@model Stock.Web.Models.Account.AccountLoginViewModel
@{
    ViewData["Title"] = "Giriş Yap - Stok Web";
}
<div aria-live="polite" aria-atomic="true" style="position: relative; z-index :999999">
    <!-- Position it -->
    <div style="position: absolute; top: 0; right: 0;">

        <!-- Then put toasts within -->
        <div class="toast shadow-lg" id="ConfirmEmailToast" role="alert" aria-live="assertive" aria-atomic="true">

            <div class="px-3 py-2 alert-success">
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
                <strong>İşlem başarılı</strong>
                <div>Onay link tekrar gönderildi, lütfen hesabınızı onaylayınız.</div>
            </div>
        </div>
        


    </div>
    
    <div style="position: absolute; top: 0; right: 0;">

        <!-- Then put toasts within -->
        <div class="toast shadow-lg" id="isConfirmedEmailToast" role="alert" aria-live="assertive" aria-atomic="true">

            <div class="px-3 py-2 alert-info">
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
                <strong>Bilgi</strong>
                <div>Hesabınız zaten onaylı, giriş yapabilirsiniz.</div>
            </div>
        </div>
        


    </div>


</div>
<main class="login-form ">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-md-7">
                <div class="card shadow-lg">
                    <div class="card-header text-center h5">Giriş Yap</div>
                    <div class="card-body">
                        <form asp-action="Login" id="loginForm">
                            <div asp-validation-summary="All" class="text-danger text-center"></div>
                            <div class="form-group row">
                                <label asp-for="Email" class="col-md-2 col-form-label text-md-right"></label>
                                <div class="col">
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <label asp-for="Password" class="col-md-2 col-form-label text-md-right"></label>
                                <div class="col">
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-md-2 col-form-label text-md-right"></div>
                                <div class="col">
                                    <div class="divider-65">
                                        <button type="submit" class="btn btn-primary w-100">
                                            Giriş Yap
                                        </button>
                                    </div>
                                    <div class="divider-35 float-right">
                                        <a href="~/Account/ForgotPassword" class="btn-link font-weight-bold btn  float-right pr-0">
                                            Şifremi unuttum?
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row text-center">
                                <div class="col-md-2 col-form-label text-md-right"></div>
                                <div class="col">
                                    <span class="mt-3">
                                        <a href="#" class="btn-link text-dark font-weight-bold btn" data-toggle="modal" data-target="#ConfirmEmailFormModal">
                                            Onay Epostası Ulaşmadı?

                                        </a>
                                    </span>
                                </div>

                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>


</main>
@await Html.PartialAsync("Modals/_confirmEmailModal")
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>



        $(function () {
            $("#loginForm").validate({


                rules: {
                    Email: {
                        required: true,
                        email: true

                    }
                    ,
                    Password: {
                        required: true,
                        minlength: 6

                    }

                },
                messages: {
                    Email: {
                        required: "Boş bırakamazsınız",
                        email: "Email formatında olmalı"

                    },
                    Password: {
                        required: "Boş bırakamazsınız",
                        minlength: "Mininum 6 karakter olmalı"

                    }

                },


            });
        });

        $(function () {
            $("#ConfirmEmailForm").validate({

                onkeyup: function (element) { $(element).valid() },
                rules: {
                    "email": {
                        required: true,
                        email: true,

                        remote:
                        {
                            url: '/api/Account/ConfirmEmail/',
                            type: "get",
                            data:
                            {
                                email: function () {
                                    return $('#email').val();
                                }
                            }
                        }
                    }


                }
                ,
                messages: {
                    "email": {
                        required: "Boş bırakamazsınız",
                        email: "Eposta formatında olmalı",
                        remote: "Eposta sisteme kayıtlı değil",
                    }


                }



            });
        });

        $("#ConfirmEmailForm").submit(function (e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.
            $("#SubmitEmail").html('Lütfen bekleyin...');
            var form = $(this);
            var url = form.attr('action');
            if ($("#ConfirmEmailForm").valid()) {
                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(), // serializes the form's elements.
                    success: function (data) {
                        console.log(data);
                        $('#ConfirmEmailForm').each(function () {
                            this.reset();
                        });
                        if (data == "isConfirmed") {

                            $('#ConfirmEmailFormModal').modal('hide');
                            $('#isConfirmedEmailToast').toast('show');
                        };
                        if(data==true) {
                        $('#ConfirmEmailFormModal').modal('hide');
                        $('#ConfirmEmailToast').toast('show');
                        };
                       
                       
                    }
                });

            }

            else {
                $("#SubmitEmail").html('Onay Epostasını Tekrar Yolla');
                
            }



        });
 
    </script>



}