@model Stock.Web.Models.Account.AccountRegisterViewModel

@{
    ViewData["Title"] = "Kayıt Ol - Stok Web";
}


<div class="login-form ">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-md-7">
                <div class="card shadow-lg">
                    <div class="card-header text-center h5">Kayıt Ol</div>
                    <div class="card-body">
                        <form asp-action="Register" id="regForm">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group row">

                                <label asp-for="FirstName" class="col-md-3 col-form-label text-md-right control-label"></label>
                                <div class="col">
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="LastName" class="col-md-3 col-form-label text-md-right"></label>
                                <div class="col">
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Email" class="col-md-3 col-form-label text-md-right"></label>
                                <div class="col">
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Password" class="col-md-3 col-form-label text-md-right"></label>
                                <div class="col">
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="RePassword" class="col-md-3 col-form-label text-md-right"></label>
                                <div class="col">
                                    <input asp-for="RePassword" class="form-control" />
                                    <span asp-validation-for="RePassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row text-center">
                                <div class="col-md-3 col-form-label text-md-right"></div>
                                <div class="col">

                                    <button type="submit" class="btn btn-primary text-center w-100">
                                        Kayıt Ol
                                    </button>
                                </div>

                            </div>
                            <div class="form-group row text-center">
                                <div class="col-md-3 col-form-label"></div>
                                <div class="col">
                                    <a href="~/Account/Login" class="btn-link font-weight-bold btn">
                                        Zaten Hesabım Var?
                                    </a>

                                </div>

                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>



        $(function () {
            $("#regForm").validate({


                rules: {
                    FirstName: {
                        required: true,
                        minlength: 3

                    },
                    LastName: {
                        required: true,
                        minlength: 3

                    }
                    , Email: {
                        required: true,
                        email: true

                    },
                    Password: {
                        required: true,
                        minlength: 6

                    },
                    RePassword: {
                        required: true,
                        minlength: 6,
                        equalTo: "#Password"

                    }

                },
                messages: {
                    FirstName: {
                        required: "Boş bırakamazsınız",
                        minlength: "Mininum 3 karakter olmalı"

                    },
                    LastName: {
                        required: "Boş bırakamazsınız",
                        minlength: "Mininum 3 karakter olmalı"

                    }
                    , Email: {
                        required: "Boş bırakamazsınız",
                        email: "Email formatı hatalı"

                    },
                    Password: {
                        required: "Boş bırakamazsınız",
                        minlength: "Mininum 6 karakter olmalı"

                    },
                    RePassword: {
                        required: "Boş bırakamazsınız",
                        minlength: "Mininum 6 karakter olmalı",
                        equalTo: "Girilen parolalar birbiriyle uyuşmuyor"

                    }

                },

            });
        });
    </script>



}