
@if(@TempData["message-title"]!=null){

//<div aria-live="polite" aria-atomic="true" style="position: relative; z-index :999999">
    <!-- Position it -->
    <div style="position: absolute; top: 4rem; right:0.75rem;  z-index :999999 ">

        <!-- Then put toasts within -->
        <div class="toast shadow-lg" role="alert" id="defaultToast" aria-live="assertive" aria-atomic="true">

            <div class="px-3 py-2 alert-@TempData["message-type"]">
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
                <strong>@TempData["message-title"]</strong>
                <div>@TempData["message-data"]</div>
            </div>
        </div>

    </div>
//</div>
}