@model Stock.Web.Models.Product.CreateProductViewModel

@{
    ViewData["Title"] = "Ürün Ekle";
}



<h1 class="text-center">Ürün Ekle</h1>

<h4>Ürün Ekle</h4>
<hr />


<div class="mx-auto">
    <form asp-action="CreateProduct" id="CreateProductForm" enctype="multipart/form-data">

        <div class="form-row">

            <div class="form-group col-md-6">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="CategoryId" class="control-label"></label>
                @Html.DropDownListFor(x => x.CategoryId, new SelectList(ViewBag.CategoryList, "Id", "CategoryName"), "Lütfen kategori seçiniz", new { @class = "form-control custom-select " })
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" datatype="uint"/>
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3 pr-5">
                <label asp-for="PurchasePrice" class="control-label"></label>
                <input asp-for="PurchasePrice" class="form-control" datatype="currency"/>
                <span asp-validation-for="PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="SellingPrice" class="control-label"></label>
                <input asp-for="SellingPrice" class="form-control" datatype="currency"/>
                <span asp-validation-for="SellingPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="ImageUrl" class="control-label"></label>
                <div class="custom-file mb-3">
                    <input type="hidden"  asp-for="ImageUrl"/>
                    <input type="file" class="custom-file-input form-control" id="ImageFile" name="ImageFile" accept="image/*" />
                    <label class="custom-file-label" data-browse="Gözat.." for="_ImageUrl"></label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Ürün Ekle</button>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>

</div>


@section Scripts
{

    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        var MinS1ellingPrice=10;

       
        $("#PurchasePrice").keyup(function () {
            
            MinSellingPrice = parseInt($("#PurchasePrice").val());

           
        });
var selectedID = @Html.Raw((ViewBag.aa));
     
    $(function() {
        $("#CreateProductForm").validate({


            rules: {
                Name: {
                    required: true,
                
                }
                ,
                SellingPrice: {
                    required: true,
                    number: true,
                   
                },

               PurchasePrice: {
                    required: true,
                    number: true
                }
                ,
                CategoryId: {
                    required: true,
                
                }
                ,
               ImageFile:
                {
                    required: true,

                }
                ,
                Quantity: {
                    digits: true,
                    required: true,
                }
                ,
            },
            messages: {
                Name: {
                    required: "Boş bırakamazsınız",
                }
                ,
                 CategoryId: {
                    required: "Bir kategori seçmelisiniz",
                    
                }
                ,
                Quantity: {
                    required: "Boş bırakamazsınız",
                    digits: "Sayısal bir değer girmelisiniz",
                }
                ,
                SellingPrice: {
                    required: "Boş bırakamazsınız",
                    number: "Sayısal bir değer girmelisiniz",
                }

                ,
                PurchasePrice: {
                    required: "Boş bırakamazsınız",
                    number: "Sayısal bir değer girmelisiniz",
                }

                ,
                _ImageUrl: {
                    required: "Bir resim yüklemesiliniz",
                   
                }
            },


        });
});
    </script>



}
