
@{
    ViewData["Title"] = "Hata Oluştu - Stock Web";
}


<meta http-equiv="refresh" content="10;url=/" />


<div class="container text-center h4 mt-5">

    <div  style="margin-top:7rem">
        Bir hata oluştu

        <p classs="h4">10 sn. içinde anasayfaya yönlendirileceksiniz.</p>
    </div>
</div>
