
@{
    ViewData["Title"] = "Hesabım - Stockweb";
}


<div class="text-center">
    <div class="card" style="margin-top:15rem">
        <div class="card-header">
            Hoş geldiniz
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>İşlem yapmak için üstteki menüyü kullanabilirsiniz.</p>

            </blockquote>
        </div>
    </div>
</div>