@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


        KİŞİSEL BİLGİLER:
        ENGİN YILMAZ
        Çağlayan Mah. Çağtay Sk.
        NO:6 D:2 Kağıthane İstanbul
        TEL: 0538 393 9308
        EPOSTA: engin.yilmaaz@gmail.com
        Adı : Engin
        Soyadı : YILMAZ
        Doğum Yeri : İstanbul
        Doğum Tarihi : 20.11.1992
        Uyruk : TC
        Medeni Durum : Bekar
        Cinsiyet : Erkek
        Ehliyet : B Sınıfı
        Askerlik : Yapıldı (Haziran-Aralık 2019)
        ÖZET:
        Düzce Üniversitesi Bilgisayar Mühendisliği bölümünden mezun oldum. Hem okul projeleri hem
        de gönüllü ve hobi olarak çeşitli projelerde yer aldım. Genellikle .Net ve SQL Server tabanlı
        uygulamalar ile ilgiliyim. .Net platformunda ASP.Net , ASP.Net MVC, Winforms desktop app
        ile çeşitli veri tabanları yer alan , API yer alan uygulamalar geliştirdim ve geliştirmeye devam
        ediyorum.
        KARİYER HEDEFİ
        Eğitim sürecim içerisinde araştırma, öz motivasyon, girişimcilik ve farklı yetenekler edinme
        noktasında kendimi geliştirdim. Hedefim; yazılım alanında faaliyet göstererek, kariyer ve
        mesleki gelişimime devam etmek ve katma değer yaratarak hem bulunduğum kuruma hem de
        ülkeye bir fayda sağlamak.
        EĞİTİM:
        • 2014-2019: Düzce Üniversitesi, Teknoloji Fakültesi, Bilgisayar Mühendisliği Bölümü
        (GANO: 3,18)• 2014-2016: Nevşehir Hacı Bektaş Veli Üniversitesi, Meslek Yüksekokulu, Bilgisayar
        Programcılığı Bölümü (GANO: 3,57)
        • 2010-2014: Nevşehir Hacı Bektaş Veli Üniversitesi, İktisadi ve İdari Bilimler Fakültesi,
        Turizm ve Otel İşletmeciliği Bölümü (GANO:3,06)
        • 2006-2010: Ahmet Buhan Lisesi, İstanbul
        İŞ DENEYİMİ:
        • Eylül 2018 – Aralık 2018: Stajyer, Conff Arge Bilişim Hizmetleri
        ASP.NET, backend tarafında bazı komponentler geliştirildi.
        • Haziran 2016 – Temmuz 2016: Stajyer, Ata Bilgisayar Nevşehir
        C# .Net framework ile çalışan desktop projelerde modül
        geliştirilmesine yardımcı olunması,hataların giderilmesi
        İLGİLİ BECERİLER:
        Bilgisayar Becerileri:
        • Office programları (Word, Excel, PowerPoint)
        • HTML, CSS
        • C# .Net Windows Forms; Deneyim 3 yıl
        • ASP.Net MVC; Deneyim: 6 ay
        • Json, API Systems
        • Microsoft SQL SERVER: Deneyim 3 yıl
        Yabancı Dil:
        • İngilizce: İyi derecede okuma, yazma, orta derecede konuşma
        YAPILAN PROJELER:
        • Windows Kapatma Yardımcısı
        https://github.com/enginyilmaaz/WindowsShutdownHelper
        Detaylar: Çeşitli tetikleyicilere göre (sistemin boşta kalma süresi, saat bazında vs),
        bilgisayarı kilitleme, yeniden başlatma, ekranı kapatma gibi işlemleri yapan bir araç.• C# ve MSSQL tabanlı Kargo Takip Sistemi:
        https://github.com/enginyilmaaz/KargoTakip-V2
        Detaylar: Masaüstü yönetim sistemi C# temelli olarak geliştirilmiş olup, Microsoft SQL
        SERVER 2014 Express kullanılmıştır.
        • C# ve MSSQL tabanlı Otopark Yönetim Sistemi:
        https://github.com/enginyilmaaz/Otopark-Takip-Sistemi
        • C# ve MSSQL tabanlı Otopark Sorgulama (web):
        https://github.com/enginyilmaaz/ASP.NET-Otopark-Sorgu
        Detaylar: Masaüstü uygulamanın ASP.Net temelli sorgulama sayfası
    </div>
