

    <nav class="navbar navbar-expand-xl navbar-dark bg-dark  fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Stok Takibi</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-no-login" aria-controls="navbar-no-login" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-no-login">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"><i class="fas fa-home pr-1"></i> Ana Sayfa <span class="sr-only">(current)</span></a>
                    </li>

                </ul>
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item active pr-3">
                        <a class="nav-link" href="account/register"><i class="fas fa-user-plus fa-sm pr-1"></i> Kayıt Ol <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active pr-3">
                        <a class="nav-link" href="account/login"><i class="fas fa-sign-in-alt pr-2"></i>Giriş Yap <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
